<% if params.has_key?(:note_err) %>
    <%= params[:note_err] %>
    <% params[:note_err] = nil %>
<%end%>

<% unless @notes.nil? %>
    <table class="table" style="border: 1px solid">
      <tr>
        <td style="border: 1px solid">Title</td>
        <td style="border: 1px solid">Description</td>
        <% if user_signed_in? %>
            <%= raw "<td style='border: 1px solid'>Edit</td>" %>
            <%= raw "<td style='border: 1px solid'>Remove</td>" %>
        <% end %>
        <td style="border: 1px solid"></td>
        <td style="border: 1px solid">Permalink</td>
      </tr>
      <% @notes.each do |n| %>
          <tr style="border: 1px solid">
            <td style="border: 1px solid; width: 15%">
              <%= n.title %>
            </td>
            <td style="border: 1px solid">
              <%= n.desc %>
            </td>
            <% if user_signed_in? %>
                <%= raw "<td style='border: 1px solid; width: 5%'>" %>
                <% if n.user_id == current_user.id or current_user.id == 1 %>
                    <%= raw "<form action='/edit'>" %>
                    <%= raw "<input type='submit' name='Edit' value='Edit'/>" %>
                    <%= raw "<input type='hidden' name='Id' value='#{n.id}'/>" %>
                    <%= raw '</form>' %>
                <% end %>
                <%= raw '</td>' %>
                <%= raw "<td style='border: 1px solid; width: 5%'>" %>
                <% if n.user_id == current_user.id or current_user.id == 1 %>
                    <%= raw "<form action='/remove'>" %>
                    <%= raw "<input type='submit' name='Remove' value='Remove'/>" %>
                    <%= raw "<input type='hidden' name='Id' value='#{n.id}'/>" %>
                    <%= raw '</form>' %>
                <% end %>
                <%= raw '</td>' %>
            <% end %>
            <td style="border: 1px solid; width: 5%">
              <% if n.visibility == 2 or (user_signed_in? and (current_user.id == 1 or n.user == current_user)) %>
                  <%= raw "<button class='clipboard-btn' data-clipboard-action='copy' data-clipboard-text=#{request.base_url}/view?permalink=#{n.permalink}>" %>
                  <%= raw   'Copy to clipboard' %>
                  <%= raw '</button>' %>
              <% end %>
            <td style="border: 1px solid; width: 5%">
              <% if n.visibility == 2 or (user_signed_in? and (current_user.id == 1 or n.user == current_user)) %>
                  <%= link_to 'Permalink', {controller: :note, action: :view, :permalink => n.permalink} %>
              <% end %>
            </td>
          </tr>
      <% end %>
    </table>
<% end %>